In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [4]:
file_path1 = "Resources/COVID-19_Hospital_Data_Coverage_Detail.csv"
file_path2 = "Resources/us_state_vaccinations.csv"

In [5]:
file_df1 = pd.read_csv(file_path1)
file_df2 = pd.read_csv(file_path2)

In [12]:
file_df1.head(5)

,state,ccn,facility_name,street_address,city,zip_code,fips_county,provider_subtype,reporting_source,dates_with_missing_data,...,on_hand_supply_therapeutic_b_bamlanivimab_courses,previous_week_therapeutic_b_bamlanivimab_courses_used,previous_week_personnel_covid_vaccinated_doses_administered,total_personnel_covid_vaccinated_doses_none,total_personnel_covid_vaccinated_doses_one,total_personnel_covid_vaccinated_doses_all,total_personnel,previous_week_patients_covid_vaccinated_doses_one,previous_week_patients_covid_vaccinated_doses_all,Georeference
0,AR,040007,CHI-ST VINCENT INFIRMARY,TWO ST VINCENT CIRCLE,LITTLE ROCK,72205.0,119,Short Term,tt,[],...,True,True,True,True,True,True,True,True,True,NaN
1,AR,040161,ARKANSAS HEART HOSPITAL-ENCORE,1901 ENCORE WAY,BRYANT,72022.0,125,Short Term,tt,"['2021-12-01', '2021-12-02']",...,False,False,False,False,False,False,False,False,False,NaN
2,AR,042009,REGENCY HOSPITAL OF NORTHWEST ARKANSAS,609 WEST MAPLE AVENUE,SPRINGDALE,72764.0,143,Long Term,tt,[],...,True,True,False,False,False,False,False,False,False,POINT (-94.136464 36.181394)
3,CT,070016,SAINT MARY'S HOSPITAL,56 FRANKLIN STEET,WATERBURY,6706.0,9,Short Term,tt,[],...,True,True,False,False,False,False,False,False,False,NaN
4,IA,161342,MONROE COUNTY HOSPITAL,6580 165TH STREET,ALBIA,52531.0,135,Critical Access Hospitals,tt,[],...,False,False,False,False,False,False,False,False,False,POINT (-92.796674 41.044816)

In [11]:
file_df2.head(5)

,date,location,state,total_vaccinations,total_distributed,people_vaccinated,people_fully_vaccinated_per_hundred,total_vaccinations_per_hundred,people_fully_vaccinated,people_vaccinated_per_hundred,distributed_per_hundred,daily_vaccinations_raw,daily_vaccinations,daily_vaccinations_per_million,share_doses_used
0,1/12/2021,Alabama,AL,78134.0,377025.0,70861.0,0.15,1.59,7270.0,1.45,7.69,NaN,NaN,NaN,0.207
1,1/13/2021,Alabama,AL,84040.0,378975.0,74792.0,0.19,1.71,9245.0,1.53,7.73,5906.0,5906.0,1205.0,0.222
2,1/14/2021,Alabama,AL,92300.0,435350.0,80480.0,NaN,1.88,NaN,1.64,8.88,8260.0,7083.0,1445.0,0.212
3,1/15/2021,Alabama,AL,100567.0,444650.0,86956.0,0.28,2.05,13488.0,1.77,9.07,8267.0,7478.0,1525.0,0.226
4,1/16/2021,Alabama,AL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7498.0,1529.0,NaN

In [13]:
file_df = pd.merge(file_df1, file_df2)

In [16]:
file_df

,state,ccn,facility_name,street_address,city,zip_code,fips_county,provider_subtype,reporting_source,dates_with_missing_data,...,people_vaccinated,people_fully_vaccinated_per_hundred,total_vaccinations_per_hundred,people_fully_vaccinated,people_vaccinated_per_hundred,distributed_per_hundred,daily_vaccinations_raw,daily_vaccinations,daily_vaccinations_per_million,share_doses_used
0,AR,040007,CHI-ST VINCENT INFIRMARY,TWO ST VINCENT CIRCLE,LITTLE ROCK,72205.0,119,Short Term,tt,[],...,39357.0,0.00,1.35,8.0,1.30,9.09,NaN,NaN,NaN,0.149
1,AR,040007,CHI-ST VINCENT INFIRMARY,TWO ST VINCENT CIRCLE,LITTLE ROCK,72205.0,119,Short Term,tt,[],...,80458.0,0.43,3.14,12849.0,2.67,9.87,53975.0,53975.0,17886.0,0.319
2,AR,040007,CHI-ST VINCENT INFIRMARY,TWO ST VINCENT CIRCLE,LITTLE ROCK,72205.0,119,Short Term,tt,[],...,90339.0,NaN,3.59,NaN,2.99,9.87,13462.0,33718.0,11173.0,0.364
3,AR,040007,CHI-ST VINCENT INFIRMARY,TWO ST VINCENT CIRCLE,LITTLE ROCK,72205.0,119,Short Term,tt,[],...,97829.0,0.62,3.92,18781.0,3.24,9.87,10022.0,25820.0,8556.0,0.397
4,AR,040007,CHI-ST VINCENT INFIRMARY,TWO ST VINCENT CIRCLE,LITTLE ROCK,72205.0,119,Short Term,tt,[],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20865.0,6914.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1896351,VI,480002,GOV JUAN F LUIS HOSPITAL & MEDICAL CTR,"#4007 EST DIAMOND RUBY, CHRISTIANSTED",ST CROIX,820.0,10,Short Term,tt,[],...,60632.0,49.16,113.77,52251.0,57.04,119.86,433.0,311.0,2926.0,0.949
1896352,VI,480002,GOV JUAN F LUIS HOSPITAL & MEDICAL CTR,"#4007 EST DIAMOND RUBY, CHRISTIANSTED",ST CROIX,820.0,10,Short Term,tt,[],...,60732.0,49.20,114.17,52290.0,57.14,119.86,418.0,349.0,3283.0,0.952
1896353,VI,480002,GOV JUAN F LUIS HOSPITAL & MEDICAL CTR,"#4007 EST DIAMOND RUBY, CHRISTIANSTED",ST CROIX,820.0,10,Short Term,tt,[],...,60876.0,49.29,114.80,52387.0,57.27,119.86,670.0,422.0,3970.0,0.958
1896354,VI,480002,GOV JUAN F LUIS HOSPITAL & MEDICAL CTR,"#4007 EST DIAMOND RUBY, CHRISTIANSTED",ST CROIX,820.0,10,Short Term,tt,[],...,60879.0,49.32,114.82,52419.0,57.28,119.86,29.0,404.0,3801.0,0.958
1896355,VI,480002,GOV JUAN F LUIS HOSPITAL & MEDICAL CTR,"#4007 EST DIAMOND RUBY, CHRISTIANSTED",ST CROIX,820.0,10,Short Term,tt,[],...,60896.0,49.32,114.87,52423.0,57.29,119.86,52.0,389.0,3660.0,0.958